.JB_MintContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

//JB MINT

.JB_MintContainer .JB_Mint {
  display: inline-flex;
  min-width: 1108px;
  min-height: 558px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  clear:both;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  margin-top: 263px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: rgba(#000, 0.5);
  box-shadow: 0 0 24px rgba(255, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}

.JB_Mint .JB_MintImage {
  display: flex;
  margin: 12px;
  width: 530px;
  height: 530px;
  min-width: 240px;
  min-height: 240px;
  max-width: 530px;
  max-height: 530px;
}

.JB_MintImage img {
  pointer-events: none;
  border: 2px solid #FFA800;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.JB_Mint .JB_MintContents {
  display: flex;
  flex-flow: column nowrap;
  margin: 12px;
  width: 40vw;
  width: 530px;
  height: 530px;
  max-width: 530px;
  max-height: 530px;
  color:white;
}

.JB_Mint .JB_MintContents .JB_Status {
  display: block;
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1.6;
}

.Status_title {
  font-family: "NCSRadhiumz" !important;
}

.JB_Mint .JB_MintContents .JB_Status span {
  display: block;
  float: left;
  text-align: left;
  font-size: 14px;
}

.JB_Mint .JB_MintContents .JB_Status span.JB_SubText {
  float: right;
  text-align: right;
  font-size: 12px;
}

.JB_Mint .JB_MintContents .JB_Status span.JB_SubText a {
  color: #909090;
}

.JB_Mint .JB_MintContents .JB_Text1 {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.JB_Mint .JB_MintContents .JB_Text2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.JB_Mint .JB_MintContents .JB_MintAmount {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(#fff, 0.25);
  justify-content: space-between;
}

.JB_Mint .JB_MintContents .JB_MintAmount .JB_Amount {
  font-size: 50px;
  padding-top: 9px;
}

.JB_Mint .JB_MintContents .JB_MintAmount .JB_Amount input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: center;
  background: none;
  border: none; 
}

.JB_Mint .JB_MintContents .JB_MintAmount .JB_Amount input::placeholder {
  color: inherit;
}

.JB_Mint .JB_MintContents .JB_MintAmount .JB_Amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  font-size: inherit;
  margin: 0;
}

.JB_Mint .JB_MintContents .JB_Text3 {
  position: relative;
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.JB_Mint .JB_MintContents .JB_Text3 span {
  display: block;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
  float: left;
  text-align: left;
  font-size: 20px;
}

.JB_Mint .JB_MintContents .JB_Info {
  font-size: 12px;
  color: #FFA800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.JB_Mint .JB_MintContents .JB_MintButton {
  color: black !important;
  border-radius: 5px;
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #FFD200 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  line-height: 1.0 !important;
  letter-spacing: -0.5px !important;
  font-family: "NCSRadhiumz" !important;
  &:hover {
    background-color: #ffc800AA !important;
  }
  &:active {
    background-color: #ffc800 !important;
  }
  &:disabled {
    background-color: #888 !important;
  }
}


//JB CHAMPs

.JB_Mint .JB_Champs {
  position: absolute;
  top: -243px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 240px;
}

.JB_Mint .JB_Champs .JB_Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.JB_Mint .JB_Champ {
  display: inline-flex;
  margin: auto;
}

.JB_Mint .JB_Champ:nth-child(1), .JB_Mint .JB_Champ:nth-child(7){
  position: relative;
  z-index: 4;
}

.JB_Mint .JB_Champ:nth-child(1) {
  width: 240px;
  height: 240px;
  margin-right: -7.5em;
}

.JB_Mint .JB_Champ:nth-child(7) {
  width: 240px;
  height: 240px;
}

.JB_Mint .JB_Champ:nth-child(2), .JB_Mint .JB_Champ:nth-child(6) {
  position: relative;
  z-index: 3;
}

.JB_Mint .JB_Champ:nth-child(2) {
  width: 190px;
  height: 190px;
  margin-right: -5em;
}

.JB_Mint .JB_Champ:nth-child(4) {
  width: 180px;
  height: 240px;
}

.JB_Mint .JB_Champ:nth-child(4) img {
  padding-bottom: 86px;
  padding-left: 15px;
  padding-right: 15px;
  filter: drop-shadow(0px 0px 2px rgba(255, 0, 0, 0.7));
}

.JB_Mint .JB_Champ:nth-child(6) {
  width: 190px;
  height: 190px;
  margin-right: -8em;
}

.JB_Mint .JB_Champ:nth-child(3), .JB_Mint .JB_Champ:nth-child(5) {
  position: relative;
  z-index: 2;
}

.JB_Mint .JB_Champ:nth-child(3) {
  width: 140px;
  height: 140px;
}

.JB_Mint .JB_Champ:nth-child(5) {
  width: 140px;
  height: 140px;
  margin-right: -5em;
}

//JB Guide

.JB_Mint .JB_Guide {    
  position: absolute;
  bottom: 0;
  margin-bottom: -60px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  // letter-spacing: -0.5px;
  line-height: 1.4;
  color: white;
  font-family: "Roboto";
}

.JB_Mint .JB_Guide a {
  color:#909090;
}

.JB_MintContainer .JB_Logo {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.JC_Card {
  position: relative;
  z-index: 10;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 420px;
}

.App-logo {
  pointer-events: none;
}


.inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  border-top: solid 1px #fff;
  background-color: #fff4ce;
  padding: 20px 0px 10px;
  margin-top: auto;
  text-align: center;
}

.JC_Button {
  bottom: 0;
  position: absolute !important;
  display: block !important;
  width: 100%;
  color: black !important;
  border-top: 3px solid black !important;
  font-family:'BMJUA' !important;
  background-color: #ffc800 !important;
  padding-top: 10px !important;
  border-radius: 0 0 5px 5px !important;
  line-height: 1.0 !important;
  letter-spacing: -0.5px !important;
  &:hover {
    background-color: #ffc800AA !important;
  }
  &:active {
    background-color: #ffc800 !important;
  }
}

.JC_MintButton {
  bottom: 0;
  position: absolute !important;
  display: flex !important;
  width: 33.33%;
  color: black !important;
  border-top: 3px solid black !important;
  font-family:'BMJUA' !important;
  background-color: #ffc800 !important;
  padding-top: 10px !important;
  line-height: 1.0 !important;
  letter-spacing: -0.5px !important;
  &:hover {
    background-color: #ffc800AA !important;
  }
  &:active {
    background-color: #ffc800 !important;
  }
  &:disabled {
    background-color: #888 !important;
  }
}

.JC_MintButton:nth-child(1) {
  border-radius: 0 0 0 5px !important;
  border-right: 3px solid black !important;
}

.JC_MintButton:nth-child(2) {
  border-radius: 0 0 0 0 !important;
  border-right: 3px solid black !important;
  left:33.33% !important;
}

.JC_MintButton:nth-child(3) {
  border-radius: 0 0 5px 0 !important;
  left:66.68% !important;
}

.JC_RandomImage img {
  pointer-events: none;
  margin-top:30px;
  border: 3px solid black;
  width: 200px;
}

// .JC_Button span {
//   &:active {
//     background-color: #ffc80011 !important;
//   }
// }

.buttonGroup {
  padding-bottom: 0px;
  height: 40px;
  margin-bottom: 10px;
}

.buttonGroup a {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
}

.iconlink {
  display: block;
  height: 40px;
}

.copy p {
  color: #e7c139;
  font-size: 16px;
}

.copy a {
  color: #e7c139;
  &:hover, &:visited {
  color: #e7c139 !important;
  text-decoration: underline;
  }
}

.JC_Info {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 27px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.JC_Split {
  margin: 10px 27px 10px 27px;
  border-bottom: 2.5px solid #cccccc33;
}

.Link-logo {
  width: 60px;
  margin-right: 1rem;
}

// .MuiPaper-root {
//   border: 3px solid black;
//   border-radius: 10px !important;
// }

.rowFive .MuiPaper-root, .rowTen .MuiPaper-root {
  flex-direction: row !important;
  flex-flow: wrap;
  max-width: none !important;
}

.rowFive .MuiDialogContent-root {
  padding: 10px;
  overflow: hidden;
}

.rowTen .MuiDialogContent-root {
  padding: 10px;
  flex: 1 1 20%;
  overflow: hidden;
}

.MuiDialog-root .MuiBox-root {
  border: 3px solid black;
  border-radius: 0px !important;
}

.MuiDialog-root {
  z-index: 900 !important;
}

.banana {
  pointer-events: none;
}

.buttonGroup {
  z-index: 901 !important;
}

// .App-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 75px;
//   padding: 0 0.5rem 0 0.5rem;
//   color: black;
//   background: rgba(255, 255, 255, 0);
//   font-weight: bold;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.red {
  color: #e65757;
}

.JC_Guide {    
  font-size: 12px;
  letter-spacing: -0.5px;
  display: inline-block;
  color: #888;
}

.sizeUP {
  font-size: 5.0vh !important;
}

p {
  font-size: calc(10px + 0.5vmin);
}
